fastapi
uvicorn
python-dotenv
pymongo
google-generativeai
google-genai
pandas
tqdm
python-jose[cryptography]
passlib[bcrypt]
weasyprint
Jinja2
pydantic
fonttools
pango
pydyf
cffi
tinyhtml5
tinycss2
pyphen
pillow
fonttools
python-multipart